body {
    font-family: 'Open Sans', sans-serif;
    color: #424242;
}

#nav_top {
    background-color: #8dc73f;
    text-align: center;
}

.main_img {
    width: 900px;
}

@media (max-width: 900px) {
    .main_img {
        width: 100%;
    }
}

#nav_body {
    margin-top: 1.2em;
    text-align: center;
    max-width: 800px;
    margin: auto;
}

#nav_body h3 {
    margin-top: 1.5em;
    margin-bottom: 0.5em;
}

#nav_body p {
    font-size: 13px;
    margin-left: 5em;
    margin-right: 5em;
}

#nav_contact {
    margin-top: 50px;
    margin-bottom: 30px;
}

a:hover, a:focus {
    color: #2c84bc;
    text-decoration: underline;
}

a {
    color: #2c84bc;
    text-decoration: none;
}
